.card-title{
    text-transform: uppercase;
}

.card-content-list label{
  color: #fff;
  font-size: 20px;
  width:4em;
}
nav{
  background-color: #8b0000;
}
nav .nav-wrapper{
  width: 80%;
  margin: auto;
}
.page-footer{
  background-color: #8b0000;
}
.card.blink{
  background-color: #8b0000!important;
}

