<div class="display-board">
  <!-- <h4 style="color:white" style="text-align:center"> users added</h4> -->

  <div class="btn">
    <button class="btn btn-warning" (click)="getAllUsers()" style="font-family:serif;" style="font-color: white;">Get All {{userCount}} Users</button>
    
  </div>
  <!-- <div class="number">
    
  </div> -->
</div>
